snippet article "Starting point for article"
\documentclass{article}

\author{Fraser Morrison}
\title{${1:title}}

\begin{document}
\maketitle


\section{This is a section}

\subsection{This is a sub section}


\end{document}
endsnippet
